* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevents scrollbars caused by video */
}

header { /* Background color of the header */
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2.1vw;
    padding-bottom: 2.1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
}

.icon {
    width: 38%;
}

nav ul {
    list-style: none;
    display: flex;
    padding-top: 15px;
}
nav ul li {
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

nav ul li a {
    margin:20px;
    color: black; /* Text color of navigation links */
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: none; /* Remove underline from links */
}

/*.about nav ul li a {*/
/*    margin:20px;*/
/*    color: white; !* Text color of navigation links *!*/
/*    font-size: 18px;*/
/*    font-family: "Poppins", sans-serif;*/
/*    font-weight: 100;*/
/*    font-style: normal;*/
/*    text-decoration: none; !* Remove underline from links *!*/
/*}*/

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

.about-container {
    display: flex;                /* Enables Flexbox layout */
    align-items: center;          /* Vertically center align the flex items */
    position: relative;           /* Position relative for absolute positioning */
    justify-content: center;      /* Horizontally center align the flex items */
    height: 100vh;                /* Take full viewport height */
    padding: 20px;                /* Add some padding around */
}

.intro {
    display: flex;                /* Enable Flexbox within the intro itself */
    max-width: 900px;             /* Max width of the content area */
    width: 100%;                  /* Use full width but respect max-width */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: adds shadow for better visibility */
    position: absolute;
    top: 10px;  /* Adjust this value to control how high up the intro appears */
    margin-left: auto;
    margin-top: 7%;
}

.intro-image {
    flex: 1;                      /* Takes 1/3 of the space */
    padding-right: 20px;          /* Add padding between image and text */
}

.intro-text {
    flex: 2;   
    margin-left: 12%;
    margin-top: 4%;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

.intro-text p {
    margin-top: 20px;    /* Space above each paragraph */
    margin-bottom: 10px; /* Space below each paragraph */
    line-height: 1.5;
}

.intro-image img {
    width: 100%;                  /* Make image fill the container */
    height: auto;                 /* Maintain aspect ratio */
    display: block;               /* Remove any extra space below the image */
}
