* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    height: 100%;
    margin: 0;
    overflow: auto; /* Prevents scrollbars caused by video */
}

#background-video {
    position: fixed; /* Fixed position to cover the entire viewport */
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

/*.skip {*/
/*    margin-top: -45px;*/
/*}*/

header { /* Background color of the header */
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    padding-top: 2.1vw;
    padding-bottom: 2.1vw;
    padding-left: 4vw;
    padding-right: 4vw;
    pointer-events: auto;
}

.icon {
    width: 38%;
}

nav ul {
    list-style: none;
    display: flex;
    padding-top: 15px;
    position: absolute;
    top: 50%;
}

nav ul li {
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

nav ul li a {
    margin:20px;
    color: white; /* Text color of navigation links */
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    text-decoration: none; /* Remove underline from links */
}

.about nav ul li a {
    margin:20px;
    color: white; /* Text color of navigation links */
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none; /* Remove underline from links */
}

nav ul li a:hover {
    color: #ffd700; /* Change color on hover */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Ensures that the container takes at least the height of the viewport */
    position: relative;
    overflow: visible; 
}

.overview {
    height: 824px;
    width: 1512px;
    align-self: stretch;
    justify-self: stretch;
    min-height: 0px;
    min-width: 0px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 300px;
}

.overview p{
    justify-content: center;
    align-items: center;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 47px;
    font-style: normal;
    color: white;
    line-height: 1.2;
}

.overview span {
    text-decoration: white;
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    width: 80%;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 35px; /* Spacing between projects */
    width: 100%;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
}

.project-thumbnail {
    width: 100%;
    height: 300px;
    font-size: 30px;
    border-radius: 20px;
}
.project-thumbnail img {
    width: 100%;
    height: 300px; /* Fixed height for all images */
    object-fit: cover; /* Ensures the image covers the set dimension */
    border-radius: 20px;
    margin-right: 20px; /* Space between the image and the info text */
}

.project-info {
    flex: 1;
    position: absolute; /* Overlay info on the thumbnail */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #333;
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
}

.project:hover .project-info {
    opacity: 1;
    color: gray;
    border-radius: 20px;
    cursor: pointer;
}

.project-info h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-top: 0;
    color: #333;

}

.project-info p {
    margin: 5px 0;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project-thumbnail img {
        margin-bottom: 10px; /* Space between the image and text when stacked */
    }
}


